[user]
	name = Andrey Shitov
	email = sand1k@yandex.ru
[core]
    editor = vim
[alias]
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[color]
    ui = true
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[diff]
#   external = /home/andrey/diff.py
#   guitool = meld
[difftool]
    prompt = false
[branch]
    autosetuprebase = always
[merge]
    tool = meld
[credential "https://github.sec.samsung.net"]
    username = a.shitov
    helper = cache

